.button {
  min-width: 125px;
  width: auto;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  font-size: 18px;
  background-color: #000;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  border: 2px solid #000;
  transition: all 300ms;

  &:hover {
    background-color: #f7f7f7;
    color: #000;
  }

  &:active {
    transform: scale(0.95);
  }

  &.google {
    background-color: #4285f4;
    border: 1px solid #4285f4;

    &:hover {
      background-color: #335afa;
      color: #fff;
    }
  }

  &.invert {
    background-color: #fff;
    color: #000;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
