.cart-icon {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 28px;
    height: 32px;
  }

  span {
    text-align: center;
    position: absolute;
    font-size: 12px;
    font-weight: bolder;
    bottom: 12px;
  }
}
