.checkout-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;

  .header-block {
    text-transform: capitalize;
    width: 23%;

    &:last-child {
      width: 8%;
    }
  }
}

@media (max-width: 600px) {
  .checkout-header {
    .header-block {
      width: 30%;

      &:nth-child(3) {
        width: 40%;
      }

      &:nth-child(4) {
        width: 18%;
      }

      &:last-child {
        width: 12%;
      }

      &.hidden {
        visibility: hidden;
        position: absolute;
        display: none;
      }
    }
  }
}
