.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
    text-align: center;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .button {
      display: block;
    }
  }
}

//small screens
@media (max-width: 575px) {
  .collection-item {
    width: 90%;
    height: 200px;

    .button {
      top: 100px;
      width: 50%;
    }

    .footer {
      margin-bottom: 30px;
    }
  }

  @media (min-height: 660px) and (max-height: 900px) {
    .collection-item {
      height: 250px;

      .button {
        top: 140px;
      }
    }
  }
}

//medium screens
@media (min-width: 576px) and (max-width: 991px) {
  .collection-item {
    width: 40%;

    .button {
      top: 220px;
      width: 70%;
    }

    .footer {
      margin-bottom: 30px;
    }
  }
}

//making add to cart button visible without hover
@media (max-width: 1366px) {
  .collection-item {
    .button {
      display: block;
      opacity: 0.7;

      &:focus {
        background-color: #f7f7f7;
        color: #000;
      }
    }

    &:hover {
      .image {
        opacity: 1;
      }
    }
  }
}
