.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 13px 10px;
    transition: 300ms all;

    &-active {
      transform: scale(1.1);
    }
  }

  .options {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      cursor: pointer;
      padding: 10px 15px;

      &-active {
        font-weight: bolder;
      }
    }
  }
}
