.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
  position: relative;

  .image-container {
    width: 23%;
    padding-right: 15px;
    padding-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .price {
    margin: 0 5px;
  }

  .quantity {
    .arrow {
      transition: all 100ms;

      &:first-child {
        padding-right: 10px;
      }

      &:last-child {
        padding-left: 10px;
      }
    }
  }

  .remove-button {
    width: 8%;
    padding: 0;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .checkout-item {
    .name {
      font-size: 18px;
      padding-bottom: 5px;
      width: 50%;
      position: absolute;
      bottom: 0px;
    }

    .image-container,
    .quantity,
    .price {
      width: 29%;
    }

    .remove-button {
      width: 13%;
    }
  }
}
