.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    width: 25%;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: start;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

//small screens
@media (max-width: 991px) {
  .collection-preview {
    .preview {
      flex-flow: wrap;
      justify-content: space-around;
    }
  }
}
