.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

//small screens
@media (max-width: 991px) {
  .collection-preview {
    .preview {
      flex-flow: wrap;
      justify-content: space-around;
    }
  }
}
