.sign-in-form {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
  // height: 400px;

  h2 {
    margin: 10px 0;
  }

  form {
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
