body {
  overflow-x: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  //padding: 20px 40px;
}

button {
  // all: unset; //Not for IE/Edge
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  transition: 500ms color;

  &:hover {
    color: #555;
  }
}

.app {
  padding: 20px 40px;
  height: 100vh;
  width: 100%;
}
