.checkout-page {
  width: 55%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  margin-top: 70px;

  .total {
    margin: 20px 0;
    margin-left: auto;
    font-size: 36px;
  }

  .StripeCheckout {
    margin-right: 10px;
    margin-left: auto;
  }

  .test-warn {
    margin: 10px 0;
    font-size: 25px;
    text-align: center;
    color: red;
  }
}

@media (max-width: 1400px) {
  .checkout-page {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .checkout-page {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .checkout-page {
    width: 100%;
  }
}
